*{
	margin: 0px;
	padding: 0px;
}
.buttom{
	width: 100%;
	height: 1.08rem;
	position: fixed;
	bottom: 0rem;
	left: 0rem;
	display: flex;
	background-image:linear-gradient(to right,white,#C6E0FC,white);	
	justify-content: space-between;
}
.buttom span img{
	width:1.28rem ;
	height: 1.08rem;
}
.buttom span{
	width:1.28rem ;
	height: 1.08rem;
	flex: 1;
	text-align: center;
	line-height: 1.08rem;
}
.iconfont1{
	border: 1px solid transparent;
	width:0.9rem ;
	height: 0.9rem;
	border-radius:0.45rem ;
	position: fixed;
	bottom: 1.9rem;
	right: 0.4rem;
	text-align: center;
	line-height: 0.9rem;
	background: white;
}
.top1{
	width:1.4rem ;
	height: 0.64rem;
}
.top1 img{
	width: 1.1rem;
	height: 0.24rem;
	display: block;
	margin: 0.24rem 0.2rem;
}
.top{
	width: 100%;
	height: 0.72rem;
	display: flex;
	justify-content: space-between;
}
.top2{
	border: 0px solid transparent;
	width: 3.44rem;
	height: 0.58rem;
	background: #F5F5F5;
	text-align: left;
	line-height: 0.58rem;
	margin-top: 0.1rem;
	border-radius: 0.1rem;
}
.top3{
	width: .65rem;
	text-align: center;
	line-height: 0.78rem;
}
.top4{
	width: 0.8rem;
	font-size: 14px;
	text-align: center;
	line-height: 0.68rem;
}
.tuijian{
	width: 100%;
	height: 0.6rem;
	display: flex;
	justify-content: space-between;
}
.tuijian div{
	flex: 1;
	font-size:14px ;
	text-align: center;
	line-height: 0.6rem;
}
.tuijian div:first-child{
	color: #CF0A2C;
	border-bottom: 1px solid #CF0A2C;
}
.big{
	width: 100%;
	height: 2.7rem;
	background-image:url(../img/big.png);
	padding: 0.1rem;
}
.big1{
	width: 96%;
	height: 98%;
	border-radius: 0.2rem;
}
.big1 img{
	width: 100%;
	height: 99%;
	border-radius: 0.2rem;
}
.small{
	width: 98%;
	height: 0.72rem;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	background-image:linear-gradient(to right,white,#E1F0FA,white);	
}
.small1{
	width: 0.88rem;
	height: 100%;
}
.small1 img{
	width: 100%;
	height: 0.22rem;
	display: block;
	margin-top: 0.26rem;
}
.small2{
	width: 4rem;
	height: 100%;
	font-size: 10px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: center;
	line-height: 0.72rem;
}
.small3{
	width: 1rem;
	height: 100%;
	font-size: 12px;
	text-align: center;
	line-height: 0.72rem;
}
.wrap1 {
	height: 4.52rem;
	display: flex;
	justify-content: space-between;
}
.wrap1>div {
	height: 4.52rem;
	width: 49.5%;
	
}
.wrap1-right>div{
	height: 49%;
	width: 100%;
	background: pink;
}
.wrap1-right>div:nth-child(2){
	background: purple;
}
.wrap1-right {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}
.wrap1-left img{
	width: 100%;
	height: 100%;
}
.wrap1-right img{
	width: 100%;
	height: 100%;
}
.first{
	width: 100%;
	height: 4.44rem;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.first1{
	width: 49%;
	height: 49%;
}
.first1 img{
	width: 100%;
	height: 100%;
}
.twice{
	width: 100%;
	height: 2.96rem;
	display: flex;
	justify-content:space-around ;
}
.twice1{
	width: 32%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.twice1 div:first-child{
	width: 1.44rem;
	height: 1.44rem;
}
.twice1 img{
	width: 1.44rem;
	height: 1.44rem;
	margin-left: 0.34rem;
}
.twice1 div:nth-of-type(2){
	font-size: 12px;
	text-align: center;
}
.twice1 div:nth-of-type(3){
	font-size: 10px;
	color: #9B9B9B;
	text-align: center;
}
.twice1 div:nth-child(4){
	font-size: 11px;
	text-align: center;
}
.third{
	width: 100%;
	height: 0.92rem;
	font-size: 16px;
	text-align: center;
	line-height: 0.92rem;
	background-image:linear-gradient(to right,white,#C6E0FC,white);
}
.fourth{
	width: 100%;
	height: 8.16rem;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.fourth1{
	width: 49%;
	height: 49%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
.fourth1 img{
	width: 4.84rem;
    height: 3.04rem;
    border-radius: 0.3rem;
    margin-left: -0.5rem;
}
.fourth1 div:nth-of-type(2){
	font-size: 12px;
	text-align: center;
	line-height: 0.32rem;
	margin-top: 0.1rem;
}
.fourth1 div:last-of-type{
	font-size: 10px;
	color: #ca141d;
	text-align: center;
	line-height: 0.56rem;
}
